body {
  background-color: rgb(68, 178, 111);
}

.header {
  margin-top: 10px;
  margin-left: 10px;
  padding: 20px;
}

.cards-block {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}
